  .stage{
        width:  250px;
        height:  250px;
        z-index: 0;
        margin:0 auto;
        left:50%;
     }
        

     /*   .wrap{
          position: absolute;
          display: block;
          perspective: 800px;
          perspective-origin: 50% 100px;

          left: 30px;
          top: 50px;
          width:  200px;
          height: 173px;
          cursor: move;
          }*/

        /* cube wrapper for trackball */
        /*.cube {
            position: absolute;
            display: block;

            -webkit-transform-style: preserve-3d;
            -webkit-animation-duration: 16s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -webkit-animation-name: rotate1;

           
        }*/

   /*   @-webkit-keyframes rotate1 {
            from {
                        -webkit-transform: rotateY(0deg);
                  }
            
            50%{-webkit-transform: rotateY(180deg);
            
            }
            to {
                  -webkit-transform: rotateY(360deg);
            }
      }
*/
     

        /*  cube sides */
   /*     .cube .panel{
          position:absolute;
          width:200px;
          height:200px;
          display:block;
          background:#808080;
          background:rgba(255,255,255,0.1);
          box-shadow:inset 0 0 30px rgba(0,0,0,0.2);
          font-size:20px;
          text-align:center;
          line-height:200px;
          color: #808080;
          color: rgba(0,0,0,0.5);
          font-family:sans-serif;
          text-transform:uppercase;
          transform-style: flat;
          -webkit-transform-style: flat;
          backface-visibility: hidden;
          
        }
  */
   .wrap {
        width: 200px;
        height: 200px;
        position: relative;
        perspective: 1000px;
      }

      .cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
      }

      .panel {
        width: 196px;
        height: 196px;
        display: block;
        position: absolute;
        border: 2px solid black;
      }

      .front  { -webkit-transform: rotateY(   0deg ) translate3d(0px, 0px, 100px); }
      .back   { -webkit-transform: rotateX( 180deg ) translate3d(0px, 0px, 100px); }
      .right  { -webkit-transform: rotateY(  90deg ) translate3d(0px, 0px, 100px); }
      .left   { -webkit-transform: rotateY( -90deg ) translate3d(0px, 0px, 100px); }
      .top    { -webkit-transform: rotateX(  90deg ) translate3d(0px, 0px, 100px); }
      .bottom { -webkit-transform: rotateX( -90deg ) translate3d(0px, 0px, 100px); }

  /* Eight-way cube controls for spinning the cube, which everyone will ignore. */
        .cube .panel .corner{
          display: block;
          height: 50px;
          width: 50px;
        }

        .cube .panel .corner:hover{
          background: #A0A0A0;
          opacity: .20;
        }

        .cube .panel .tl{
          position: fixed;
          left:0;
          top:0;
        }

        .cube .panel .tr{
          position: fixed;
          left:150px;
          top:0;
        }

        .cube .panel .bl{
          position: fixed;
          left:0;
          top:150px;
        }
        .cube .panel .br{
          position: fixed;
          left:150px;
          top:150px;
        }
      
      /* Edges */
        .cube .panel .edge{
          display: block;
        }
        
        .cube .panel .edge:hover{
          background: #A0A0A0;
          opacity: .20;
        }

        
        .cube .panel .tc{
          position: fixed;
          left:50px;
          top:0;
          height: 50px; 
          width: 100px;
        }        

        .cube .panel .lc{
          position: fixed;
          left:0;
          top:50px;
          height: 100px; 
          width: 50px;
        }    

        .cube .panel .rc{
          position: fixed;
          left:150px;
          top:50px;
          height: 100px; 
          width: 50px;
        }    
  
        .cube .panel .bc{
          position: fixed;
          left:50px;
          top:150px;
          height: 50px; 
          width: 100px;
        }
          
    /* Panel Faces */
      /*  .cube .back{
          -webkit-transform-style: preserve-3d;
            -ms-transform:rotateY(180deg) translate3d(0px, 0px, 100px);
            -moz-transform:rotateY(180deg) translate3d(0px, 0px, 100px);
            -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 100px);
            -o-transform: rotateY(180deg) translate3d(0px, 0px, 100px);
            transform: rotateY(180deg) translate3d(0px, 0px, 100px);
        }
        .cube .front{
            -webkit-transform-style: preserve-3d;
            -webkit-background-size: cover; 
            -moz-background-size: cover;    
            -o-background-size: cover;      
            background-size: cover; 

            -ms-transform: translate3d(0px, 0px, 100px);
            -moz-transform: translate3d(0px, 0px, 100px);
            -webkit-transform: translate3d(0px, 0px, 100px);
            -o-transform: translate3d(0px, 0px, 100px);
            transform: translate3d(0px, 0px, 100px);
        }
        .cube .right{
            width:200px;
            height:200px;
            -webkit-transform-style: preserve-3d;
            -ms-transform: rotateY(90deg) translate3d(0px, 0px, 100px);
            -moz-transform: rotateY(90deg) translate3d(0px, 0px, 100px);
            -webkit-transform: rotateY(90deg) translate3d(0px, 0px, 100px);
            -o-transform: rotateY(90deg) translate3d(0px, 0px, 100px);
            transform: rotateY(90deg) translate3d(0px, 0px, 100px);
        }
        .cube .left{
            width:200px;
            height:200px;
            -webkit-transform-style: preserve-3d;
            -ms-transform: rotateY(-90deg) translate3d(0px, 0px, 100px);
            -moz-transform: rotateY(-90deg) translate3d(0px, 0px, 100px);
            -webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 100px);
            -o-transform: rotateY(-90deg) translate3d(0px, 0px, 100px);
            transform: rotateY(-90deg) translate3d(0px, 0px, 100px);
        }
        .cube .top{
            width:200px;
            height:200px;
-webkit-transform-style: preserve-3d;
            -ms-transform: rotateX(90deg) translate3d(0px, 0px, 100px);
            -moz-transform: rotateX(90deg) translate3d(0px, 0px, 100px);
            -webkit-transform: rotateX(90deg) translate3d(0px, 0px, 100px);
            -o-transform: rotateX(90deg) translate3d(0px, 0px, 100px);
            transform: rotateX(90deg) translate3d(0px, 0px, 100px);
        }
        
        .cube .bottom{
            width:200px;
            height:200px;
            -webkit-transform-style: preserve-3d;
            -ms-transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
            -moz-transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
            -webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
            -o-transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
            transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
        }*/

