/* Spriter.css */

.helmet {

    width: 150px;
    height: 100px;
    margin: 50px 25px;
    background-image: url("../images/helmet.png");
    
    -webkit-animation: play .8s steps(7) infinite;
       -moz-animation: play .8s steps(7) infinite;
        -ms-animation: play .8s steps(7) infinite;
         -o-animation: play .8s steps(7) infinite;
            animation: play .8s steps(7) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0; }
     to { background-position: 	  -1050px; }
}

@-moz-keyframes play {
   from { background-position:    0; }
     to { background-position: 	  -1050px; }
}

@-ms-keyframes play {
   from { background-position:    0; }
     to { background-position: 	  -1050px; }
}

@-o-keyframes play {
   from { background-position:    0; }
     to { background-position: 	  -1050px; }
}

@keyframes play {
   from { background-position:    0; }
     to { background-position: 	  -1050px; }
}

.helmet a {
	display:block;
	height:200px;
	width:200px;
}