<div class="cover-card table-cell table-bottom">
  {% if site.owner.avatar %}
  <img src="http://pretentiousgit.github.io/img/2016Avatar.jpg" alt="" class="avatar">
  {% endif %}
  {{site.github.owner_name}}
  {{site.author}}
  <a href="{{ site.url }}/" class="author_name">{{ site.owner_name }}</a>
  <span class="author_job">{{ site.owner.job }}</span>
  <nav class="nav">
    <ul class="nav-list">
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>{% unless forloop.last %}
        <span>/</span>{% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
