<div class="social-links">
  <ul>
    {% if site.author.email %}<li><a href="mailto:{{ site.author.email }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-envelope"></i></a></li>{% endif %}
    {% if site.author.twitter %}<li><a href="http://twitter.com/{{ site.author.twitter }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
    {% if site.author.facebook %}<li><a href="http://facebook.com/{{ site.author.facebook }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
    {% if site.author.google.plus %}<li><a href="http://plus.google.com/+{{ site.author.google.plus }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-google-plus"></i> Google+</a></li>{% endif %}
    {% if site.author.linkedin %}<li><a href="http://linkedin.com/in/{{ site.author.linkedin }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
    {% if site.author.xing %}<li><a href="http://www.xing.com/profile/{{ site.author.xing }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-xing"></i></a></li>{% endif %}
    {% if site.author.instagram %}<li><a href="http://instagram.com/{{ site.author.instagram }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
    {% if site.author.tumblr %}<li><a href="http://{{ site.author.tumblr }}.tumblr.com" class="social-link-item" target="_blank"><i class="fa fa-fw fa-tumblr"></i></a></li>{% endif %}
    {% if site.author.github %}<li><a href="http://github.com/{{ site.author.github }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>{% endif %}
    {% if site.author.stackoverflow %}<li><a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i></a></li>{% endif %}
    {% if site.author.lastfm %}<li><a href="http://lastfm.com/user/{{ site.author.lastfm }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-music"></i></a></li>{% endif %}
    {% if site.author.dribbble %}<li><a href="http://dribbble.com/{{ site.author.dribbble }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a></li>{% endif %}
    {% if site.author.pinterest %}<li><a href="http://www.pinterest.com/{{ site.author.pinterest }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-pinterest"></i></a></li>{% endif %}
    {% if site.author.foursquare %}<li><a href="http://foursquare.com/{{ site.author.foursquare }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-foursquare"></i></a></li>{% endif %}
    {% if site.author.steam %}<li><a href="http://steamcommunity.com/id/{{ site.author.steam }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-steam"></i></a></li>{% endif %}
    {% if site.author.youtube %}<li><a href="https://youtube.com/user/{{ site.author.youtube }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
    {% if site.author.soundcloud %}<li><a href="http://soundcloud.com/{{ site.author.soundcloud }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-soundcloud"></i></a></li>{% endif %}
    {% if site.author.weibo %}<li><a href="http://www.weibo.com/{{ site.author.weibo }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-weibo"></i></a></li>{% endif %}
    {% if site.author.flickr %}<li><a href="http://www.flickr.com/{{ site.author.flickr }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-flickr"></i></a></li>{% endif %}
    {% if site.author.codepen %}<li><a href="http://codepen.io/{{ site.author.codepen }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-codepen"></i></a></li>{% endif %}
  </ul>
</div>
