---
layout: page
---

<section class="container bio">
  
  <img src="/assets/production/images/headshot.jpg" alt="A portrait of Alex Leitch" class="headshot">

  <h1 class="slogan2"><span>Machine</span><span>Art,</span><span>Speculative</span><span>Futures,</span><span>Technical</span><span>Design.</span></h1>

  <p class="dek">Alex Leitch (B.A.hon, M.Des) is an award-winning technology consultant who lives and works in Toronto, Canada. Alex is a writer, game designer, and software developer who runs a strategic design consultancy, Artifact Digital.</p>

<span id="project"></span>
</section>

<div class="container">
  <article class="project-post">

    <h1 class="post-title">{{ page.title }}</h1>

    <dl class="post-category">
      <dt>Filed under:</dt><dd>{{page.category}}</dd>
    </dl>

    <hr>

    <div class="inner-container">
      
        <div class="post-content">
          {{ content }}
        </div>

    </div>

  <div class="bottom-images">
    {% for image in page.images %}
    <div class="imgbox">
      <img src="{{ page.imagefolder }}/{{ image.name }}">
    </div>
{% endfor %}
  </div>


  </article>

</div>
